/*This is my 201 Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 201 Contact Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/scene-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
 
	
	
}

.center {
	width: 40%; /* for responsiveness */
	min-width: 200px; /* also for responsiveness */
	padding: 2%;
    margin: 75px auto; /* adjusted the top and bottom margin to move my center up a bit so it wasn't stuck on the bottom*/
 	background: rgba(40, 80, 95, 0.812); /*this uses opacity of  about 81% for the background color*/
	text-align: center;
	/*border: 4px dashed white;*/
}

   
#logo {
    margin-bottom: 16px;
	/*border: 3px dashed red;*/
	text-align: center;
	margin-top: 55px;
	width: 40%; /* for responsiveness */
}

h1 {
	font-family: "gimlet-display", serif;
	font-weight: 500;
	font-style: normal;
	font-size: 2.8em;
    margin: 0px auto 10px auto;
    color: #ffffff;
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: "gimlet-display", serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1.5em;
    line-height: 1.4;
    color: #ffffff;
    padding: 5px 5px;
    margin: 0px auto 25px auto;
	
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: "gimlet-display-narrow", serif;
	font-weight: 300;
	font-style: italic;
	font-size: 1.4em;
    line-height: 1.4;
    color: #ffffff;
}
    
 nav{
	font-family: "boreal", sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 1.25em;
	/*border: dashed turquoise;*/
	border-width: 3px 0;
	text-align: center;
	margin-top: 1.5em;
 }   

 nav li{
	display: inline;
 }

 nav a{
	display: inline-block;
	padding: 10px;
 }

 a{
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
 }

 a:hover{
	color: black;
	background: yellowgreen; /*changed the hover to a different color that matched the overall theme. decided to keep the color hover as I liked that best*/
 }

